<section class="products" id="products">
    <h1 class="heading">our <span>products</span></h1>
    <div class="swiper product-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide box">
          <img src="images/products-1.png" alt="" />
          <h3>fresh orange</h3>
          <div class="price">₹4.99-₹10.00/-  Lulu Hypermarket</div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="swiper-slide box">
          <img src="images/products-2.png" alt="" />
          <h3>fresh onion - Lulu Hypermarket</h3>     
          <div class="price">₹4.99-₹10.00/-</div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="swiper-slide box">
          <img src="images/products-3.png" alt="" />
          <h3>fresh meat - D-mart</h3>
          <div class="price">₹4.99-₹10.00/-</div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="swiper-slide box">
          <img src="images/products-4.png" alt="" />
          <h3>fresh cabbage -Lulu Hypermarket</h3>
          <div class="price">₹4.99-₹10.00/-</div>
          <a href="#" class="btn">add to cart</a>
        </div>
      </div>

      <div class="swiper product-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide box">
            <img src="images/products-5.png" alt="" />
            <h3>fresh potato - Walmart</h3>
            <div class="price">₹4.99-₹10.00/-</div>
            <a href="#" class="btn">add to cart</a>
          </div>

          <div class="swiper-slide box">
            <img src="images/products-6.png" alt="" />
            <h3>fresh avocado - Ajfaan</h3>
            <div class="price">₹4.99-₹10.00/-</div>
            <a href="#" class="btn">add to cart</a>
          </div>

          <div class="swiper-slide box">
            <img src="images/products-7.png" alt="" />
            <h3>fresh carrot - Dmart</h3>
            <div class="price">₹4.99-₹10.00/-</div>
            <a href="#" class="btn">add to cart</a>
          </div>

          <div class="swiper-slide box">
            <img src="images/products-8.png" alt="" />
            <h3>green lemon - Lulu Hypermarket</h3>
            <div class="price">₹4.99-₹10.00/-</div>
            <a href="#" class="btn">add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </section>